.bg-lite {
	background-color: var(--color-gray-10);
}

.bg-dark {
	background-color: var(--color-dark);
}

.bg-mute {
	background-color: var(--color-gray-30);
}


.bg-primary {
	background-color: var(--color-primary);
}



