.card {
	display: flex;
	flex-direction: column;
	background-color: var(--color-gray-90);
	position: relative;
	z-index: 0;
	height: 100%;
//	border: var(--border-width) solid var(--color-gray-70);
	a {
		z-index: 1;
	}
	a:not(.link-block) {
		position: relative;
	}
}

.card-body {
	padding: var(--space-lg);
}

.card-content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.card-footer {
	justify-self: flex-end;
	margin-top: auto;
	margin-bottom: 0;
}

.card-thumb {
	background-color: var(--color-mute);
	aspect-ratio: 2/1;
	position: relative;
	flex: 1 0 auto;
}

.card-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.card-img {
	&:before {
		// content: "\1F517" " Broken Image!";
		font-size: var(--txt-lg);
		content: "\1F5BC";
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.card-meta {
	position: absolute;
	transform: translateY(-50%);
	z-index: 2;
	align-self: flex-start;
}

// .card-summary {
// 	color: var(--color-mute);
// }

.card-tags {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-sm);
}

.card-summary {
	color: var(--color-mute);
}
