/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: Prodigy;
  src: url("../fonts/prodigysans-regular-webfont.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Prodigy;
  src: url("../fonts/prodigysans-italic-webfont.woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Prodigy;
  src: url("../fonts/prodigysans-semibold-webfont.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Prodigy;
  src: url("../fonts/prodigysans-semibolditalic-webfont.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

body {
  --color-lite-white: #ffffff;
  --color-white: #f7f7f7;
  --color-gray: #949795;
  --color-lite-gray: #ededed;
  --color-black: #202225;
  --color-yellow: #ee9000;
  --color-orange: #e26a04;
  --color-red: #c92f37;
  --color-purple: #9c69a4;
  --color-blue: #4985ad;
  --color-aqua: #4985ad;
  --color-green: #717a28;
}

body[data-theme="dark"] {
  --color-white: #fbfbf9;
  --color-gray: #b1afb1;
  --color-dark-gray: #59575c;
  --color-black: #2d292e;
  --color-dark-black: #242225;
  --color-yellow: #ffbc54;
  --color-orange: #ff945d;
  --color-red: #ff5087;
  --color-purple: #ae9af8;
  --color-aqua: #45e0ea;
  --color-green: #99df68;
}

:root {
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
  --font-sans: Prodigy, Atkinson, var(--font-system);
  --font-mono: "IBM Plex Mono", monospace;
  --txt-leading: 1.5;
  --txt-leading-sm: 1.25;
  --ratio: 1.25;
  --s: 1rem;
  --s-1: calc(var(--s) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-6: calc(var(--s-5) / var(--ratio));
  --s1: calc(var(--s) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
}

:root {
  /* Spacing */
  --f: 1em;
  --f-1: calc(var(--f) / var(--ratio));
  --f1: calc(var(--f) * var(--ratio));
  --f2: calc(var(--f1) * var(--ratio));
  --f3: calc(var(--f2) * var(--ratio));
  --f4: calc(var(--f3) * var(--ratio));
  --f5: calc(var(--f4) * var(--ratio));
  --flow-0: 0;
  --flow-xs: var(--f-1);
  --flow-sm: var(--f);
  --flow-md: var(--f1);
  --flow-lg: var(--f2);
  --flow-xl: var(--f3);
  --flow-xxl: var(--f4);
  --flow-xxxl: var(--f5);
  --gap-0: 0;
  --gap-xs: calc(var(--s) / 1.5);
  --gap-sm: var(--s);
  --gap-md: calc(var(--s) * 1.5);
  --gap-lg: calc(var(--s) * 3);
  --gap-xl: calc(var(--s) * 4);
  --gap-xxl: calc(var(--s) * 5);
  --gap: var(--gap-md);
}

:root {
  /* Misc */
  --transition-all: 250ms ease all;
  --transition-fill: 250ms ease fill;
  --border-line: 1px;
  --radius-rounded: 0.25em;
  --radius-pill: 999em;
  --radius-circle: 50%;
  --gutter: clamp(var(--s2), 2.5vw, var(--s4));
  --tile-size: 14.0625rem;
  --grid-cols: 0 1fr 1fr 0;
}

@media (min-width: 100rem) {
  :root {
    --border-line: 1px;
  }
}

body {
  --bg-color: var(--color-white);
  --bg-content-color: var(--color-lite-white);
  --body-color: var(--color-black);
  --color-subtle-mute: var(--color-lite-gray);
  --color-brand: var(--color-black);
}

body[data-theme="dark"] {
  --bg-color: var(--color-dark-black);
  --bg-content-color: var(--color-black);
  --body-color: var(--color-white);
  --color-subtle-mute: var(--color-dark-gray);
  --color-brand: var(--color-white);
}

body {
  --color-mute: var(--color-gray);
  --color-primary: var(--color-aqua);
  --color-secondary: var(--color-orange);
  --color-accent: var(--color-yellow);
  --color-danger: var(--color-red);
  --color-success: var(--color-green);
  --color-warning: var(--color-yellow);
}

:root {
  --step--1: clamp(0.83rem, 0.63rem + 0.57vw, 1.20rem);
  --step-0: clamp(1.00rem, 0.72rem + 0.78vw, 1.50rem);
  --step-1: clamp(1.20rem, 0.82rem + 1.05vw, 1.88rem);
  --step-2: clamp(1.44rem, 0.93rem + 1.41vw, 2.34rem);
  --step-3: clamp(1.73rem, 1.05rem + 1.88vw, 2.93rem);
  --step-4: clamp(2.07rem, 1.18rem + 2.48vw, 3.66rem);
  --step-5: clamp(2.49rem, 1.31rem + 3.26vw, 4.58rem);
  --step-6: clamp(2.99rem, 1.45rem + 4.27vw, 5.72rem);
}

html {
  font-size: calc(0.125vw + 0.125vh + 1em);
}

body {
  font-family: var(--font-sans);
  background: var(--bg-color);
  color: var(--body-color);
  line-height: var(--txt-leading);
  position: relative;
}

::-moz-selection {
  color: var(--bg-color);
  background-color: var(--color-accent);
}

::selection {
  color: var(--bg-color);
  background-color: var(--color-accent);
}

em code {
  font-style: normal;
}

a:not([class*='btn-']):link {
  color: var(--color-accent);
  text-decoration: none;
}

a:not([class*='btn-']):visited {
  color: var(--color-accent);
}

a:not([class*='btn-']):hover, a:not([class*='btn-']):focus {
  color: var(--body-color);
}

a:not([class*='btn-']):active {
  color: var(--body-color);
}

a:not([class*='btn-']) svg {
  -webkit-transition: var(--transition-fill);
  transition: var(--transition-fill);
}

a[href*="//"]::after {
  font-weight: normal;
  font-size: .85em;
  content: "\2197";
  color: currentColor;
  opacity: .7;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

h1,
.h1 {
  font-size: var(--s4);
  line-height: var(--txt-leading-sm);
}

@media (min-width: 62rem) {
  h1,
  .h1 {
    font-size: var(--s5);
  }
}

@media (min-width: 90rem) {
  h1,
  .h1 {
    font-size: var(--s6);
    letter-spacing: -.025em;
  }
}

h2,
.h2,
.card-img:before {
  font-size: var(--s3);
  line-height: var(--txt-leading-sm);
}

h3,
.h3 {
  font-size: var(--s2);
  line-height: inherit;
}

h4,
.h4,
.tile-title,
.entry-content h3,
.entry blockquote p {
  font-size: var(--s1);
  line-height: inherit;
}

h5,
.h5 {
  font-size: var(--s);
  line-height: inherit;
}

.h6 {
  font-size: var(--s-1);
  line-height: inherit;
}

hr {
  height: var(--border-line);
  background: var(--color-subtle-mute);
  border: 0;
}

del {
  -webkit-text-decoration-color: var(--color-red);
          text-decoration-color: var(--color-red);
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

table {
  border: var(--border-line) solid var(--color-subtle-mute);
  border-collapse: collapse;
}

th, td {
  padding: var(--s-4) var(--s-2);
}

th:not(:last-child), td:not(:last-child) {
  border-right: var(--border-line) solid var(--color-subtle-mute);
}

tr:nth-child(even) {
  background-color: var(--bg-content-color);
}

thead {
  border-bottom: var(--border-line) solid var(--color-subtle-mute);
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--body-color);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

pre[class*="language-"].line-numbers span::before {
  color: var(--color-subtle-mute);
}

.line-numbers .line-numbers-rows {
  border-right: 2px solid var(--bg-color) !important;
}

code.language-css,
code.language-scss {
  color: var(--color-orange);
}

pre[class*="language-"] {
  padding: var(--gutter);
  overflow-x: auto;
  max-width: 100%;
  border-radius: var(--radius-rounded);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--bg-content-color);
}

p code[class*="language-"], li code[class*="language-"] {
  vertical-align: middle;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-mute);
}

.token.punctuation {
  color: var(--body-color);
}

.token.property + .token.punctuation {
  color: var(--color-red);
}

.namespace {
  opacity: 0.7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--body-color);
}

.token.property {
  color: var(--body-color);
}

.token.hexcode.color {
  color: var(--color-orange);
}

.token.combinator,
.token.operator {
  color: var(--color-yellow);
}

.token.boolean,
.token.number {
  color: var(--color-orange);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-red);
}

.token.selector .token.punctuation {
  color: var(--body-color);
}

.token.attr-name {
  color: var(--color-orange);
}

.token.class {
  color: var(--color-yellow);
  font-style: italic;
}

.token.entity,
.token.url,
.style .token.string,
.token.variable {
  color: var(--body-color);
}

.language-css .token.string,
.language-scss .token.string {
  color: var(--color-green);
}

.token.function {
  color: var(--color-aqua);
}

.token.atrule {
  color: var(--body-color);
}

.token.rule {
  color: var(--color-purple);
}

.token.attr-value {
  color: var(--color-green);
}

.token.keyword {
  color: var(--color-yellow);
}

.token.unit {
  color: var(--color-purple);
}

.token.regex,
.token.important {
  color: var(--color-orange);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.pseudo-class {
  color: var(--color-mute);
}

code.language-js {
  color: var(--color-red);
}

code.language-js .token.operator {
  color: var(--body-color);
}

code.language-js .token.maybe-class-name {
  color: var(--body-color);
}

code.language-js .token.keyword {
  color: var(--color-orange);
}

code.language-js .token.string {
  color: var(--color-green);
}

pre.line-numbers > code {
  display: inline-block !important;
  white-space: inherit !important;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  padding: var(--s-2) var(--s4);
  font-weight: 600;
  border-radius: var(--radius-pill);
  text-decoration: none;
  cursor: pointer;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: var(--border-line) solid transparent;
  position: relative;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.btn-primary:link {
  color: var(--bg-color);
  background: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-primary:visited {
  color: var(--bg-color);
  background: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-primary:hover, .btn-primary:focus-within {
  color: var(--color-accent);
  background: var(--bg-color);
  border-color: var(--bg-accent);
}

.label, p code[class*="language-"], li code[class*="language-"] {
  display: inline-block;
  padding: var(--s-6) var(--s-2);
  color: var(--bg-color);
  background-color: var(--color-mute);
  font-weight: 500;
}

.label-default {
  background: var(--body-color);
  color: var(--bg-content-color);
}

.label-code, p code[class*="language-"], li code[class*="language-"] {
  color: var(--color-red);
  background: var(--bg-content-color);
}

.label-primary {
  background-color: var(--color-primary);
}

.label-dark {
  color: var(--bg-color);
  background-color: var(--body-color);
}

body[data-theme="dark"] .label-dark {
  color: var(--body-color);
  background-color: var(--bg-color);
}

.label-accent {
  background-color: var(--color-accent);
}

.label-urgent {
  background-color: var(--color-red);
}

.label-trans-lite {
  opacity: 0.5;
  background-color: var(--body-color);
}

.tile {
  position: relative;
  z-index: 0;
  min-height: var(--tile-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: var(--s2);
  overflow: hidden;
}

.tile a {
  z-index: 1;
}

.tile a:not(.link-block) {
  position: relative;
}

.tile .label, .tile p code[class*="language-"], p .tile code[class*="language-"], .tile li code[class*="language-"], li .tile code[class*="language-"] {
  position: absolute;
  right: var(--s2);
  top: var(--s2);
}

.tile-thumb {
  -webkit-transition: var(--transition-all);
  transition: var(--transition-all);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(45deg, var(--color-purple), var(--color-red));
}

.tile-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1) contrast(0.5);
          filter: grayscale(1) contrast(0.5);
  mix-blend-mode: screen;
}

body[data-theme="dark"] .tile-img {
  mix-blend-mode: multiply;
}

.tile-title {
  --txt-leading: 1.6;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.tile-title a {
  background-color: var(--bg-content-color);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  padding: 0.25em 0.5em;
}

:root {
  --card-body: var(--s2);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bg-content-color);
  position: relative;
  z-index: 0;
}

.card a {
  z-index: 1;
}

.card a:not(.link-block) {
  position: relative;
}

.card-body {
  padding: var(--card-body);
}

.card-content {
  background-color: var(--bg-content-color);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-footer {
  justify-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
}

.card-thumb {
  background-color: var(--bg-content-color);
}

.card-img:before {
  content: "\1F5BC";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-meta {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--s-5);
}

.grid,
[class*="grid-auto-"] {
  display: -ms-grid;
  display: grid;
  width: 100%;
  gap: var(--gutter);
}

.grid {
  --grid-cols: 12;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid > * {
  -ms-grid-column-span: var(--grid-cols);
      grid-column-end: span var(--grid-cols);
}

.grid-auto-xs,
.grid-auto-sm,
.grid-auto-md,
.grid-auto-lg,
.grid-auto-xl {
  -ms-grid-columns: (minmax(var(--col-min-width), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
}

.grid-auto-xs {
  --col-min-width: 7.5rem;
}

.grid-auto-sm {
  --col-min-width: 10rem;
}

.grid-auto-md {
  --col-min-width: var(--base-amount);
}

.grid-auto-lg {
  --col-min-width: 20rem;
}

.grid-auto-xl {
  --col-min-width: 25rem;
}

.grid-auto-cols {
  -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.col-1 {
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
}

.col-start-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.col-end-2 {
  grid-column-end: 2;
}

.col-2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.col-start-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.col-end-3 {
  grid-column-end: 3;
}

.col-3 {
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
}

.col-start-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.col-end-4 {
  grid-column-end: 4;
}

.col-4 {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.col-start-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.col-end-5 {
  grid-column-end: 5;
}

.col-5 {
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
}

.col-start-5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.col-end-6 {
  grid-column-end: 6;
}

.col-6 {
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
}

.col-start-6 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.col-end-7 {
  grid-column-end: 7;
}

.col-7 {
  -ms-grid-column-span: 7;
      grid-column-end: span 7;
}

.col-start-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.col-end-8 {
  grid-column-end: 8;
}

.col-8 {
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
}

.col-start-8 {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

.col-end-9 {
  grid-column-end: 9;
}

.col-9 {
  -ms-grid-column-span: 9;
      grid-column-end: span 9;
}

.col-start-9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
}

.col-end-10 {
  grid-column-end: 10;
}

.col-10 {
  -ms-grid-column-span: 10;
      grid-column-end: span 10;
}

.col-start-10 {
  -ms-grid-column: 10;
      grid-column-start: 10;
}

.col-end-11 {
  grid-column-end: 11;
}

.col-11 {
  -ms-grid-column-span: 11;
      grid-column-end: span 11;
}

.col-start-11 {
  -ms-grid-column: 11;
      grid-column-start: 11;
}

.col-end-12 {
  grid-column-end: 12;
}

.col-12 {
  -ms-grid-column-span: 12;
      grid-column-end: span 12;
}

.col-start-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
}

.col-end-13 {
  grid-column-end: 13;
}

.col-start {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.col-end {
  grid-column-end: -1;
}

@media (min-width: 36rem) {
  .xs\:grid-auto-xs {
    --col-min-width: 7.5rem;
  }
  .xs\:grid-auto-sm {
    --col-min-width: 10rem;
  }
  .xs\:grid-auto-md {
    --col-min-width: var(--base-amount);
  }
  .xs\:grid-auto-lg {
    --col-min-width: 20rem;
  }
  .xs\:grid-auto-xl {
    --col-min-width: 25rem;
  }
  .xs\:grid-auto-cols {
    -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  .xs\:col-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .xs\:col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .xs\:col-end-2 {
    grid-column-end: 2;
  }
  .xs\:col-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .xs\:col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .xs\:col-end-3 {
    grid-column-end: 3;
  }
  .xs\:col-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .xs\:col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .xs\:col-end-4 {
    grid-column-end: 4;
  }
  .xs\:col-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .xs\:col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .xs\:col-end-5 {
    grid-column-end: 5;
  }
  .xs\:col-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .xs\:col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .xs\:col-end-6 {
    grid-column-end: 6;
  }
  .xs\:col-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .xs\:col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .xs\:col-end-7 {
    grid-column-end: 7;
  }
  .xs\:col-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .xs\:col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .xs\:col-end-8 {
    grid-column-end: 8;
  }
  .xs\:col-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .xs\:col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .xs\:col-end-9 {
    grid-column-end: 9;
  }
  .xs\:col-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .xs\:col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .xs\:col-end-10 {
    grid-column-end: 10;
  }
  .xs\:col-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .xs\:col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .xs\:col-end-11 {
    grid-column-end: 11;
  }
  .xs\:col-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .xs\:col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .xs\:col-end-12 {
    grid-column-end: 12;
  }
  .xs\:col-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .xs\:col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .xs\:col-end-13 {
    grid-column-end: 13;
  }
  .xs\:col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .xs\:col-end-auto {
    grid-column-end: auto;
  }
}

@media (min-width: 52rem) {
  .sm\:grid-auto-xs {
    --col-min-width: 7.5rem;
  }
  .sm\:grid-auto-sm {
    --col-min-width: 10rem;
  }
  .sm\:grid-auto-md {
    --col-min-width: var(--base-amount);
  }
  .sm\:grid-auto-lg {
    --col-min-width: 20rem;
  }
  .sm\:grid-auto-xl {
    --col-min-width: 25rem;
  }
  .sm\:grid-auto-cols {
    -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  .sm\:col-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .sm\:col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .sm\:col-end-2 {
    grid-column-end: 2;
  }
  .sm\:col-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .sm\:col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .sm\:col-end-3 {
    grid-column-end: 3;
  }
  .sm\:col-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .sm\:col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .sm\:col-end-4 {
    grid-column-end: 4;
  }
  .sm\:col-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .sm\:col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .sm\:col-end-5 {
    grid-column-end: 5;
  }
  .sm\:col-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .sm\:col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .sm\:col-end-6 {
    grid-column-end: 6;
  }
  .sm\:col-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .sm\:col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .sm\:col-end-7 {
    grid-column-end: 7;
  }
  .sm\:col-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .sm\:col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .sm\:col-end-8 {
    grid-column-end: 8;
  }
  .sm\:col-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .sm\:col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .sm\:col-end-9 {
    grid-column-end: 9;
  }
  .sm\:col-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .sm\:col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .sm\:col-end-10 {
    grid-column-end: 10;
  }
  .sm\:col-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .sm\:col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .sm\:col-end-11 {
    grid-column-end: 11;
  }
  .sm\:col-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .sm\:col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .sm\:col-end-12 {
    grid-column-end: 12;
  }
  .sm\:col-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .sm\:col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .sm\:col-end-13 {
    grid-column-end: 13;
  }
  .sm\:col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .sm\:col-end-auto {
    grid-column-end: auto;
  }
}

@media (min-width: 62rem) {
  .md\:grid-auto-xs {
    --col-min-width: 7.5rem;
  }
  .md\:grid-auto-sm {
    --col-min-width: 10rem;
  }
  .md\:grid-auto-md {
    --col-min-width: var(--base-amount);
  }
  .md\:grid-auto-lg {
    --col-min-width: 20rem;
  }
  .md\:grid-auto-xl {
    --col-min-width: 25rem;
  }
  .md\:grid-auto-cols {
    -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  .md\:col-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .md\:col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .md\:col-end-2 {
    grid-column-end: 2;
  }
  .md\:col-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .md\:col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .md\:col-end-3 {
    grid-column-end: 3;
  }
  .md\:col-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .md\:col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .md\:col-end-4 {
    grid-column-end: 4;
  }
  .md\:col-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .md\:col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .md\:col-end-5 {
    grid-column-end: 5;
  }
  .md\:col-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .md\:col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .md\:col-end-6 {
    grid-column-end: 6;
  }
  .md\:col-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .md\:col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .md\:col-end-7 {
    grid-column-end: 7;
  }
  .md\:col-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .md\:col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .md\:col-end-8 {
    grid-column-end: 8;
  }
  .md\:col-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .md\:col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .md\:col-end-9 {
    grid-column-end: 9;
  }
  .md\:col-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .md\:col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .md\:col-end-10 {
    grid-column-end: 10;
  }
  .md\:col-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .md\:col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .md\:col-end-11 {
    grid-column-end: 11;
  }
  .md\:col-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .md\:col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .md\:col-end-12 {
    grid-column-end: 12;
  }
  .md\:col-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .md\:col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .md\:col-end-13 {
    grid-column-end: 13;
  }
  .md\:col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .md\:col-end-auto {
    grid-column-end: auto;
  }
}

@media (min-width: 75rem) {
  .lg\:grid-auto-xs {
    --col-min-width: 7.5rem;
  }
  .lg\:grid-auto-sm {
    --col-min-width: 10rem;
  }
  .lg\:grid-auto-md {
    --col-min-width: var(--base-amount);
  }
  .lg\:grid-auto-lg {
    --col-min-width: 20rem;
  }
  .lg\:grid-auto-xl {
    --col-min-width: 25rem;
  }
  .lg\:grid-auto-cols {
    -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  .lg\:col-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .lg\:col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .lg\:col-end-2 {
    grid-column-end: 2;
  }
  .lg\:col-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .lg\:col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .lg\:col-end-3 {
    grid-column-end: 3;
  }
  .lg\:col-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .lg\:col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .lg\:col-end-4 {
    grid-column-end: 4;
  }
  .lg\:col-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .lg\:col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .lg\:col-end-5 {
    grid-column-end: 5;
  }
  .lg\:col-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .lg\:col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .lg\:col-end-6 {
    grid-column-end: 6;
  }
  .lg\:col-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .lg\:col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .lg\:col-end-7 {
    grid-column-end: 7;
  }
  .lg\:col-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .lg\:col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .lg\:col-end-8 {
    grid-column-end: 8;
  }
  .lg\:col-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .lg\:col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .lg\:col-end-9 {
    grid-column-end: 9;
  }
  .lg\:col-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .lg\:col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .lg\:col-end-10 {
    grid-column-end: 10;
  }
  .lg\:col-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .lg\:col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .lg\:col-end-11 {
    grid-column-end: 11;
  }
  .lg\:col-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .lg\:col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .lg\:col-end-12 {
    grid-column-end: 12;
  }
  .lg\:col-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .lg\:col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .lg\:col-end-13 {
    grid-column-end: 13;
  }
  .lg\:col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .lg\:col-end-auto {
    grid-column-end: auto;
  }
}

@media (min-width: 90rem) {
  .xl\:grid-auto-xs {
    --col-min-width: 7.5rem;
  }
  .xl\:grid-auto-sm {
    --col-min-width: 10rem;
  }
  .xl\:grid-auto-md {
    --col-min-width: var(--base-amount);
  }
  .xl\:grid-auto-lg {
    --col-min-width: 20rem;
  }
  .xl\:grid-auto-xl {
    --col-min-width: 25rem;
  }
  .xl\:grid-auto-cols {
    -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  .xl\:col-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .xl\:col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .xl\:col-end-2 {
    grid-column-end: 2;
  }
  .xl\:col-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .xl\:col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .xl\:col-end-3 {
    grid-column-end: 3;
  }
  .xl\:col-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .xl\:col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .xl\:col-end-4 {
    grid-column-end: 4;
  }
  .xl\:col-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .xl\:col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .xl\:col-end-5 {
    grid-column-end: 5;
  }
  .xl\:col-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .xl\:col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .xl\:col-end-6 {
    grid-column-end: 6;
  }
  .xl\:col-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .xl\:col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .xl\:col-end-7 {
    grid-column-end: 7;
  }
  .xl\:col-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .xl\:col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .xl\:col-end-8 {
    grid-column-end: 8;
  }
  .xl\:col-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .xl\:col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .xl\:col-end-9 {
    grid-column-end: 9;
  }
  .xl\:col-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .xl\:col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .xl\:col-end-10 {
    grid-column-end: 10;
  }
  .xl\:col-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .xl\:col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .xl\:col-end-11 {
    grid-column-end: 11;
  }
  .xl\:col-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .xl\:col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .xl\:col-end-12 {
    grid-column-end: 12;
  }
  .xl\:col-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .xl\:col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .xl\:col-end-13 {
    grid-column-end: 13;
  }
  .xl\:col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .xl\:col-end-auto {
    grid-column-end: auto;
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: var(--gutter);
  width: 100%;
  min-height: 100vh;
  max-width: 90rem;
  -ms-grid-columns: var(--grid-cols);
      grid-template-columns: var(--grid-cols);
  -ms-grid-rows: auto auto max-content;
      grid-template-rows: auto auto -webkit-max-content;
      grid-template-rows: auto auto max-content;
}

@media (min-width: 52rem) {
  .wrapper {
    -ms-grid-rows: auto max-content;
        grid-template-rows: auto -webkit-max-content;
        grid-template-rows: auto max-content;
  }
}

@media (min-width: 52rem) {
  .wrapper {
    --grid-cols: 0 minmax(var(--tile-size),1fr) minmax(var(--tile-size),2fr) 0;
  }
}

@media (min-width: 75rem) {
  .wrapper {
    --grid-cols: 0 minmax(var(--tile-size),1fr) minmax(var(--tile-size),3fr) 0;
  }
}

.wrapper > * {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

@media (min-width: 52rem) {
  .wrapper > * {
    grid-column: 1/-1;
  }
}

.site-header {
  padding: var(--s2);
}

@media (min-width: 52rem) {
  .site-header {
    margin-top: var(--gutter);
  }
}

.site-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: var(--gutter);
}

.site-footer {
  padding: var(--s2);
  color: var(--color-mute);
  background-color: var(--bg-content-color);
  text-align: center;
}

.sponsor {
  background-color: var(--color-purple);
  padding: var(--s2);
  min-height: 7.5rem;
  position: relative;
  z-index: 1;
}

@media (min-width: 52rem) {
  .site-footer {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media (min-width: 52rem) {
  .sidebar {
    -ms-flex-item-align: start;
        align-self: start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    grid-row: 1/-1;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    row-gap: var(--gutter);
  }
}

@media (min-width: 52rem) {
  [data-layout="dashboard"] .site-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (minmax(var(--tile-size), auto))[3];
        grid-template-rows: repeat(3, minmax(var(--tile-size), auto));
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  [data-layout="dashboard"] .site-content > div:first-child {
    grid-column: 1 / -1;
  }
}

@media (min-width: 75rem) {
  [data-layout="dashboard"].wrapper {
    -ms-grid-columns: var(--grid-cols);
        grid-template-columns: var(--grid-cols);
  }
  [data-layout="dashboard"] .site-content {
    min-height: 100vh;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (minmax(var(--tile-size), 1fr))[4];
        grid-template-rows: repeat(4, minmax(var(--tile-size), 1fr));
  }
  [data-layout="dashboard"] .site-content > div {
    min-height: var(--tile-size);
    position: relative;
  }
  [data-layout="dashboard"] .site-content > div:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  [data-layout="dashboard"] .site-content > div:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  [data-layout="dashboard"] .site-content > div:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  [data-layout="dashboard"] .site-content > div:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
  [data-layout="dashboard"] .site-content > div:nth-child(5) {
    grid-column: 2 / -1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  [data-layout="dashboard"] .site-content > div:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
  [data-layout="dashboard"] .site-content > div:nth-child(7) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

@media (min-width: 52rem) {
  [data-layout="default"] .site-content {
    -ms-grid-row: 1;
    grid-row: 1;
    min-height: 100vh;
  }
}

@media (min-width: 75rem) {
  [data-layout="default"] .site-content {
    grid-column: 1/-1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-brand {
  display: inline-block;
}

.site-brand svg {
  width: 100%;
  max-width: 8.75rem;
  height: auto;
  display: block;
}

.site-nav {
  overflow: visible;
  background: var(--bg-content-color);
}

@media (min-width: 52rem) {
  .site-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.site-nav ul {
  padding: var(--s-1) 0;
}

@media (max-width: 51rem) {
  .site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site-nav ul > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
  }
  .site-nav ul > * a {
    text-align: center;
  }
}

@media (min-width: 52rem) {
  .site-nav ul {
    margin: 0;
  }
}

.site-nav li {
  padding: 0;
}

.site-nav li > a {
  display: block;
  text-decoration: none;
  padding: var(--s-2) var(--gutter);
}

.site-nav li > a[aria-current] {
  color: var(--body-color);
}

.entry {
  position: relative;
}

@media (min-width: 52rem) {
  .entry {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: var(--grid-cols);
        grid-template-columns: var(--grid-cols);
    gap: var(--gutter);
  }
}

.entry h1 {
  max-width: 20ch;
}

.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6,
.entry p,
.entry li,
.entry dt,
.entry dd {
  max-width: 65ch;
}

.entry-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  justify-content: center;
  top: 0;
  width: 100%;
  min-height: 40vw;
}

@media (min-width: 52rem) {
  .entry-header {
    min-height: 20vw;
  }
}

.entry-content {
  background-color: var(--bg-color);
  position: relative;
}

@media (min-width: 52rem) {
  .entry-content {
    grid-column: 1 / -1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: var(--grid-cols);
        grid-template-columns: var(--grid-cols);
    gap: var(--gutter);
    min-height: 100vh;
  }
}

.entry-inner-content {
  padding-top: var(--gutter);
}

.entry-inner-content > * + * {
  margin-top: 1.5rem;
}

@media (min-width: 52rem) {
  .entry-inner-content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

@media (min-width: 75rem) {
  .entry-header {
    padding: var(--gutter);
  }
}

@media (min-width: 75rem) {
  .entry-inner-content {
    padding: calc(var(--gutter)*2) var(--gutter);
  }
}

.entry-inner-content a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.entry-content h2 {
  color: var(--color-primary);
}

.entry-content h3 {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-primary);
}

.entry-meta {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.entry-thumb {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(45deg, var(--color-purple), var(--color-red));
  background-blend-mode: lighten;
  max-width: 100%;
  height: calc(100vw * 4 / 8);
  left: 0;
  margin-top: 0 !important;
}

@media (min-width: 52rem) {
  .entry-thumb {
    position: fixed;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    max-width: 90rem;
  }
}

body[data-theme="dark"] .entry-thumb {
  background-image: linear-gradient(45deg, var(--color-purple), var(--color-red));
  background-blend-mode: darken;
}

.entry-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1) contrast(0.5);
          filter: grayscale(1) contrast(0.5);
  mix-blend-mode: screen;
}

body[data-theme="dark"] .entry-img {
  mix-blend-mode: multiply;
}

.entry li li:last-child {
  margin-bottom: var(--flow-md);
}

.footnotes {
  color: var(--color-mute);
}

.entry blockquote {
  color: var(--color-orange);
  position: relative;
  padding: var(--gutter);
}

.entry blockquote p {
  color: currentColor;
  max-width: 48ch;
}

.entry blockquote *::-moz-selection {
  -webkit-text-fill-color: currentColor;
  background: var(--color-accent);
  background-clip: initial;
}

.entry blockquote *::selection {
  -webkit-text-fill-color: currentColor;
  background: var(--color-accent);
  background-clip: initial;
}

.playlist li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-column-gap: var(--s);
          column-gap: var(--s);
  padding: var(--s-2) 0;
  border-bottom: var(--border-line) solid var(--color-subtle-mute);
}

.playlist ol {
  list-style-type: decimal-leading-zero;
}

.playlist ol > * {
  counter-increment: list-counter;
}

.playlist li::before {
  content: counter(list-counter, decimal-leading-zero) ".";
  color: var(--color-mute);
}

.playlist li > *:last-child {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 61rem) {
  .playlist li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    padding-left: 3rem;
  }
  .playlist li::before {
    width: 4ch;
    margin-left: -3rem;
  }
  .playlist .track-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .playlist .track-artist {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
}

@media (min-width: 62rem) {
  .playlist li {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .playlist .track-artist {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .playlist .track-name {
    max-width: 50%;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.playlist-header > * {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.playlist-header > *:first-child {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.playlist-header > img {
  width: var(--tile-size);
  height: auto;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.playlist-thumb {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (min-width: 75rem) {
  .playlist-thumb {
    position: -webkit-sticky;
    position: sticky;
    top: var(--gutter);
  }
}

.playlist-thumb > img {
  height: auto;
}

@media (min-width: 75rem) {
  .playlist-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.playlist-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--gutter);
          column-gap: var(--gutter);
  row-gap: var(--flow-sm);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playlist-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

.entry [id*=fn-] {
  counter-increment: list-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entry [id*=fn-]::before {
  content: counter(list-counter, decimal) ".";
  margin-right: 1em;
}

.entry .footnote-backref {
  padding: var(--s-5) var(--s2);
}

.entry a.footnote-ref {
  padding: var(--s-2) var(--s-4);
}

.entry li ul {
  margin-top: var(--flow-sm);
}

.sr-only, .skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  top: 0;
}

.skip-link:focus {
  border-radius: 0;
  position: absolute;
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  display: block;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 102;
}

.bg-lite {
  background-color: var(--color-white);
}

.bg-dark {
  background-color: var(--color-dark-black);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-primary {
  background-color: var(--color-primary);
}

.embed {
  height: 0;
  width: 100%;
  position: relative;
}

.embed > * {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.embed > img, .embed > picture {
  -o-object-fit: cover;
     object-fit: cover;
}

.embed-wide {
  padding-top: calc(9 / 16 * 100%);
}

.embed-sq {
  padding-top: calc(1 / 1 * 100%);
}

.embed-rect {
  padding-top: calc(4 / 6 * 100%);
}

.embed-portrait {
  padding-top: calc(547 / 366 * 100%);
}

.section-sm {
  padding-top: var(--gap-sm);
  padding-bottom: var(--gap-sm);
}

.section-md {
  padding-top: var(--gap-md);
  padding-bottom: var(--gap-md);
}

.section-lg {
  padding-top: var(--gap-lg);
  padding-bottom: var(--gap-lg);
}

.section-xl {
  padding-top: var(--gap-xl);
  padding-bottom: var(--gap-xl);
}

.section-xxl {
  padding-top: var(--gap-xxl);
  padding-bottom: var(--gap-xxl);
}

.container {
  width: 100%;
  padding-right: var(--gap);
  padding-left: var(--gap);
  margin-right: auto;
  margin-left: auto;
}

.flow-y-xs > * + * {
  margin-top: var(--flow-xs);
}

.flow-y-sm > * + * {
  margin-top: var(--flow-sm);
}

.flow-y-md > * + *, .footnotes > * + * {
  margin-top: var(--flow-md);
}

.flow-y-lg > * + * {
  margin-top: var(--flow-lg);
}

.flow-y-xl > * + * {
  margin-top: var(--flow-xl);
}

.flow-y-xxl > * + * {
  margin-top: var(--flow-xxl);
}

.flow-y-xxxl > * + * {
  margin-top: var(--flow-xxxl);
}

.flow-xxs {
  margin-top: var(--flow-xxs);
}

.flow-xs {
  margin-top: var(--flow-xs);
}

.flow-sm {
  margin-top: var(--flow-sm);
}

.flow-md, .footnotes hr {
  margin-top: var(--flow-md);
}

.flow-lg, .entry-content h3 {
  margin-top: var(--flow-lg);
}

.flow-xl, .entry-content h2:not(:first-child) {
  margin-top: var(--flow-xl);
}

.flow-xxl {
  margin-top: var(--flow-xxl);
}

.flow-xxxl {
  margin-top: var(--flow-xxxl);
}

.hr-list > * + * {
  margin-top: var(--flow-xl);
  padding-top: var(--flow-xl);
}

.flow-0 {
  margin-top: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.gap-0 {
  --gap: var(--gap-0);
}

.gap-xs {
  --gap: var(--gap-xs);
}

.gap-sm {
  --gap: var(--gap-sm);
}

.gap-md {
  --gap: var(--gap-md);
}

.gap-lg {
  --gap: var(--gap-lg);
}

.gap-xl {
  --gap: var(--gap-xl);
}

.link-block {
  position: static;
}

.link-block::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.max-width-xxs {
  max-width: 18rem;
}

.max-width-xs {
  max-width: 36rem;
}

.max-width-sm {
  max-width: 52rem;
}

.max-width-md {
  max-width: 62rem;
}

.max-width-lg {
  max-width: 75rem;
}

.txt-mono, pre code, tbody td, .label, p code[class*="language-"], li code[class*="language-"], .playlist li::before {
  font-family: var(--font-mono);
  font-size: 90%;
  font-weight: 500;
}

.txt-center {
  text-align: center;
}

.txt-uppercase, thead {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: normal;
}

.txt-mute {
  color: var(--color-gray);
}

.txt-primary {
  color: var(--color-primary);
}

.txt-lite {
  color: var(--color-white);
}

.txt-dark {
  color: var(--color-dark-black);
}

.txt-right {
  text-align: right;
}

.txt-clip, .entry blockquote p {
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-orange)), to(var(--color-red)));
  background: linear-gradient(to bottom right, var(--color-orange), var(--color-red));
  background-clip: text;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

[class*="stick-"] {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.stick-top {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: var(--gutter);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.stick-bottom {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  bottom: var(--gutter);
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */