:root {	
	
	// colors
	--color-gray-100: hsl(60, 20%, 98%);
	--color-gray-300: hsl(300, 1%, 69%);
	--color-gray-500: hsl(264, 3%, 35%);
	--color-gray-800: hsl(288, 6%, 17%);
	--color-gray-900: hsl(280, 4%, 14%);
	--color-yellow: hsl(37, 100%, 67%);
	--color-orange: hsl(20, 100%, 68%);
	--color-red: hsl(341, 100%, 66%);
	--color-purple: hsl(253, 87%, 79%);
	--color-aqua: hsl(184, 80%, 59%);
	--color-green: hsl(95, 65%, 64%);

}