.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr;
	grid-template-columns: 100%;
max-width: $bp-lg;
	margin-inline: auto;

}

.sidebar {
	padding: var(--gutter);
	display: grid;
		grid-template-rows: auto 1fr auto;
		gap: var(--gutter);
}

main {
padding: var(--gutter);
	// padding-top: 0;
	max-width: 100%;
}

@include bp-min(md) {
	.wrapper {
		grid-template-rows: 1fr auto;
		// grid-template-columns: minmax(var(--base-amount), 1fr) 3fr;
	// 	grid-template-columns: 1fr 3fr;
	grid-template-columns: minmax(min-content, 1fr) minmax(0, 3fr);
	}

	.sidebar {
		grid-column: 1/2;
		grid-row: 1;


		grid-template-rows: auto 1fr auto;
		justify-self: center;
		width: 100%;

		
		// max-width: 20rem;
		height: 100vh;
		position: sticky;
		top: 0;
		overflow-y: auto;
	}



	main {
		grid-column: 2/3;
		grid-row: 1;
		// width: min(100%, 60rem);
		
		 
	}


}

// @include bp-min(lg) {
// 	main {
// 		max-width: 60rem;
// 	}
// }


.sponsor {
	@extend .txt-mono;
	@extend .txt-mute;
	@extend .txt-xs;
	border: var(--border-width) solid var(--color-gray-70);
	min-height: 10rem;
	padding: var(--space-sm);
	@include bp-min(md) {
		aspect-ratio: 16/9;
		align-self: end;
		min-height: initial;
	}
}
